@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,200&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

main {
    padding: 0 15px;
}

a {
    color: #000;
}

/* navigation */

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 100;
}

.navigation__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

.navigation .logo {
    height: 4rem;
}

.nav__toggle {
    display: none;
    font-size: 2rem;
    color: rgb(172, 81, 2);
    background: transparent;
    border-color: transparent;
    transition: all .3s linear;
    cursor: pointer;
}

.nav__toggle:hover {
    color: rgba(255, 127, 7);
    transform: rotate(90deg);
}

.navigation__list {
    list-style: none;
    height: auto;
    display: flex;
}

.sub__menu {
    position: absolute;
    width: 300px;
    background: #fff;
    list-style: none;
    /* display: flex; */
}

.sub__menu li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.sub__menu--1 {
    /* display: flex; */
    flex-direction: column;
}

.sub__menu--2,
.sub__menu--3 {
    right: 300px;
    top: 0;
    /* display: flex; */
    flex-direction: column;
}

.navigation__list--item:hover .sub__menu--1 {
    display: flex;
}

.sub__menu--1 li:hover .sub__menu--2 {
    display: flex;
}

.sub__menu--1 li:hover .sub__menu--3 {
    display: flex;
}

.sub__menu,
.sub__menu--1,
.sub__menu--2,
.sub__menu--3 {
    display: none;
}

.navigation__list--item {
    position: relative;
    float: left;
}

.navigation__list--item .link--list {
    display: block;
    color: rgb(172, 81, 2);
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .1rem;
    padding: 2rem 1rem;
    transition: all .3s linear;
}

.navigation__list--item .link--list:hover {
    color: rgb(255, 127, 7);
}

.social__icons {
    display: flex;
    font-size: 2rem;
    list-style-type: none;
}

.social__icons a {
    margin: 0 .5rem;
    color: #49A6E9;
    transition: all .3s linear;
}

@media screen and (max-width: 800px) {
    .nav__toggle {
        display: flex;
    }

    .social__icons {
        display: none;
    }

    .navigation__list {
        display: flex;
        flex-direction: column;
        height: 0;
        overflow: hidden;
        transition: all .3s linear;
    }

    .show__links {
        height: auto;
    }
}

/* home section */
.home {
    height: 95vh;
    width: 100%;
    padding: 11rem 0;
    background-image: linear-gradient(to right bottom,
            rgba(172, 81, 2, 0.8),
            rgba(255, 127, 7, 0.8)),
        url(../img/deck_decking_wood.jpg);
    background-size: cover;
    background-position: top;

    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    z-index: 5;
}

.home__header--main {
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}

.home__header--paragraph {
    font-size: 2rem;
    line-height: 3rem;
    padding: 10rem 2rem;
    font-weight: 300;
    color: #fff;
    width: 60%;
    position: absolute;
    right: 0;
    top: 0;
}


.composition {
    z-index: 50;
}

.composition__photo {
    width: 35%;
    max-width: 220px;
    box-shadow: 0 1.5rem 4rem #000;
    border-radius: 2px;
    position: absolute;

    z-index: 50;
}

.composition__photo--1 {
    top: 6rem;
    left: 7rem;
}

.composition__photo--2 {
    top: 14rem;
    left: 20rem;
}

.composition__photo--3 {
    top: 22rem;
    left: 9rem;
}

/* offer section */

.offer {
    padding-top: 6rem;
}

.terraces,
.facades,
.wood {
    max-width: 1200px;
    margin: 0 auto;
}

.offer__header--main {
    display: inline-block;
    font-size: 3rem;
    color: rgb(172, 81, 2);
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 3rem 2rem 1rem;
    margin: 0 6rem;
    border-bottom: 3px solid rgb(172, 81, 2);
}

.offer__header--paragraph {
    font-size: 2.4rem;
    padding: 3rem 1rem;
    text-align: justify;
}

.terraces__product,
.facades__product,
.wood__product {
    font-size: 2.5rem;
    padding: 3.4rem 1.2rem;
}

.terraces__product h5,
.facades__product h5,
.wood__product h5 {
    display: flex;
    justify-content: flex-start;
    font-size: 2.4rem;
    padding-bottom: 1rem;
    border-bottom: 1px double rgb(255, 127, 7);
}

.terraces__product p,
.facades__product p,
.wood__product p {
    font-size: 1.8rem;
    padding: 2rem 0 2rem;
    text-align: justify;
}

.wood__product--item h6 {
    font-size: 1.6rem;
    padding: 4rem 0 1rem;
}

.wood__product--item ul {
    font-size: 1.4rem;
    padding-left: 3.5rem;
    padding-bottom: 8rem;
}

/* gallery section */

.work {
    padding-bottom: 8rem;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;

    list-style-type: none;
}

.work__header--main {
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    color: rgb(172, 81, 2);
}

.image-gallery--item {
    flex-basis: 350px;

    cursor: pointer;
}

.image-gallery--item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;

    transition: 1s;
}

.image-gallery--item img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}

/* opinion section */

.opinions {
    text-align: center;
    /* background-image: linear-gradient(to right bottom,
            hsla(28, 98%, 34%, 0.8),
            rgba(255, 127, 7, 0.8)),
        url(../img/wood_wall_board.jpg); */
    background-size: cover;
    background-position: bottom;
    margin-bottom: 15rem;
}

.opinions__header--main {
    font-size: 4rem;
    font-weight: 400;
    color: rgb(172, 81, 2);
}

.opinion__box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.review {
    color: #323031;
    font-size: 1.4rem;
    padding: 5rem 0;
    position: relative;
    background-color: rgba(255, 255, 255, 0.601);
    box-shadow: 1px 5px 10px rgb(172, 81, 2);
    overflow: hidden;
    flex: 0 0 50%;
    flex-basis: 500px;
    border-radius: 5px;
}

.review::before {
    content: "\201c";
    position: absolute;
    left: -.9rem;
    top: -2.5rem;
    font-size: 20rem;
    color: rgb(172, 81, 2);
}

.review__text {
    margin-bottom: 2rem;
    z-index: 2;
    position: relative;
}

.review__person {
    display: flex;
    align-items: center;
}

.review__info {
    display: flex;
    flex-flow: row wrap;
    margin-right: auto;
}

.review__info--name {
    flex: 0 0 80%;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: -.5rem;
}

.review__info--name--date {
    font-size: .9rem;
}

.review__rating {
    color: #323031;
    font-size: 2.2rem;
    font-weight: 300;
}

/* contact section */

.contact {
    height: 90vh;
    margin-top: -10vh;
    text-align: center;
    background-image: linear-gradient(to right bottom,
            hsla(28, 98%, 34%, 0.8),
            rgba(255, 127, 7, 0.8)),
        url(../img/deck_decking_wood.jpg);
    background-size: cover;
    background-position: bottom;

    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    z-index: -1;
}

.contact__header--main {
    font-size: 4rem;
    font-weight: 400;
    color: #fff;

    padding-top: 40px;
}

.contact__desc {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
}

.poland-map {
    margin-left: 200px;
    width: 400px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container iframe {
    padding-left: 50px;
}

.contact__details {
    display: flex;
    flex-direction: row;
}

.contact__details img {
    width: 30px;
    height: 30px;
}

.contact-form {
    width: 400px;
    margin: 0 auto 40px;
    padding-top: 70px;
}

form label {
    display: block;
    margin-bottom: 20px;
}

form label {
    display: block;
}

form textarea {
    height: 10em;
}

.submite-wrap {
    text-align: right;
}

.submite-wrap span {
    float: left;
    padding-top: 7px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
}

form [type="submit"] {
    background-color: #28b485;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 33%;
}

form [type="submit"]:hover {
    background-color: #28b485;
}

form input,
form textarea {
    border: 1px solid #28b485;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

form input:focus,
form textarea:focus {
    outline: none;
    border-color: #E1C184;
}

.contact-form-info label {
    box-sizing: border-box;
}