@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,200&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    max-width: 1200px;
}

a {
    color: #000;
}

/* navigation */

.navigation {
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.navigation__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

.nav__toggle {
    font-size: 2rem;
    color: rgb(172, 81, 2);
    background: transparent;
    border-color: transparent;
    transition: all .3s linear;
    cursor: pointer;
}

.nav__toggle:hover {
    color: rgba(255, 127, 7);
    transform: rotate(90deg);
}

.logo {
    height: 4rem;
}

.navigation__list {
    height: 0;
    overflow: hidden;
    transition: all .3s linear;
}

.navigation__list .link--list {
    color: rgb(172, 81, 2);
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .1rem;
    display: block;
    padding: 4rem 2rem;
    transition: all .3s linear;
}

.navigation__list.link--list:hover {
    background-color: #A5D5F8;
    color: #49A6E9;
    padding-left: 1.5rem;
}

.social__icons {
    display: none;
}

.show__links {
    height: auto;
}

@media screen and (min-width: 800px) {
    .nav__center {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }

    .navigation__header {
        padding: 0;
    }

    .nav__toggle {
        display: none;
    }

    .navigation__list {
        height: auto;
        display: flex;
    }

    .navigation__list .link--list {
        padding: 0;
        margin: 0 .7rem;
    }

    .navigation__list .link--list:hover:hover {
        padding: 0;
        background: transparent;
    }

    .social__icons {
        display: flex;
        font-size: 2rem;
        list-style-type: none;
    }

    .social__icons a {
        margin: 0 .5rem;
        color: #49A6E9;
        transition: all .3s linear;
    }

    .social__icons a:hover {
        color: #8bcbf9;
    }
}